src/main/resources/ch/claninfo/pkone/pkOne-Meldungen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.claninfo.ch/2016/pkOne-Meldungen"
	xmlns:pko="http://www.claninfo.ch/2016/pkOne-Meldungen"
	elementFormDefault="qualified">
	<xs:complexType name="MessageType">
		<xs:annotation>
			<xs:documentation>Alle Meldungen enthalten zumindest die Version und
				die Sprache
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Version" fixed="0.2" use="required" />
		<xs:attribute name="Sprache" type="xs:language" use="required" />
		<xs:attribute name="Tenant" type="xs:string" use="optional" />
		<xs:attribute name="Company" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="StartMessageType">
		<xs:annotation>
			<xs:documentation>Meldungen zum Starten eines Ablaufs
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pko:MessageType">
				<xs:attribute type="xs:string" name="Penum" use="required" />
				<xs:attribute type="xs:string" name="Mitnum" use="required" />
				<xs:attribute type="xs:dateTime" name="Valuta" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="de">Valutadatum /
							Berechnungsdatum
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StartMessageOBType">
		<xs:annotation>
			<xs:documentation>Meldungen zum Starten eines Ablaufs
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pko:MessageType">
				<xs:attribute type="xs:string" name="Penum" use="required" />				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="WFMessageType">
		<xs:annotation>
			<xs:documentation>Meldungen zum weiterführen eines Ablaufes
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pko:MessageType">
				<xs:attribute type="xs:string" name="ProzessID" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>



	<xs:simpleType name="SimParam">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PENUM" />
			<xs:enumeration value="GEBDAT" />
			<xs:enumeration value="JAHRMT" />
			<xs:enumeration value="ZIVCD" />
			<xs:enumeration value="SOVNR" />
			<xs:enumeration value="BEGRAD" />
			<xs:enumeration value="LOVS" />
			<xs:enumeration value="KOOAB" />
			<xs:enumeration value="REBASISRI" />
			<xs:enumeration value="BEISPARANBEISPARAGU" />
			<xs:enumeration value="PRZUBEIAN" />
			<xs:enumeration value="PRVWAN" />
			<xs:enumeration value="PRANTOT" />
			<xs:enumeration value="BEISPARAG" />
			<xs:enumeration value="PRZUBEIAG" />
			<xs:enumeration value="PRVWAG" />
			<xs:enumeration value="ABSAGTKTOGUVVP" />
			<xs:enumeration value="PRAGTOT" />
			<xs:enumeration value="KTOGUVVP" />
			<xs:enumeration value="BERDAT" />
			<xs:enumeration value="ABSAGT" />
			<xs:enumeration value="ZINFPROJ" />
			<xs:enumeration value="AGHKAP" />
			<xs:enumeration value="PENSDAT" />
			<xs:enumeration value="AGHKAP" />
			<xs:enumeration value="ALTRSPENSA" />
			<xs:enumeration value="REALTERPENSA" />
			<xs:enumeration value="FIX20" />
			<xs:enumeration value="REALTERKI" />
			<xs:enumeration value="AGHKAP64ORREKAPMAX" />
			<xs:enumeration value="OFFEN" />
			<xs:enumeration value="PENSDAT64" />
			<xs:enumeration value="AGHKAP64" />
			<xs:enumeration value="ALTRS64" />
			<xs:enumeration value="REALTER64" />
			<xs:enumeration value="PENSDAT62" />
			<xs:enumeration value="AGHKAP62" />
			<xs:enumeration value="ALTRS62" />
			<xs:enumeration value="REALTER62" />
			<xs:enumeration value="PENSDAT" />
			<xs:enumeration value="REIV" />
			<xs:enumeration value="REIVKI" />
			<xs:enumeration value="REWIT" />
			<xs:enumeration value="REWAI" />
			<xs:enumeration value="FZ15KRZFZLAG" />
			<xs:enumeration value="FZ17" />
			<xs:enumeration value="FZBVG" />
			<xs:enumeration value="FIBU_VALUTA" />
			<xs:enumeration value="FIBU_BEM" />
			<xs:enumeration value="IKONTOBETRAG" />
			<xs:enumeration value="BERDAT" />
			<xs:enumeration value="EKMAXEFF" />
			<xs:enumeration value="WEFMAXBET" />
			<xs:enumeration value="SPARKAPITAL" />
			<xs:enumeration value="MAXEKSUMME" />
			<xs:enumeration value="JAHRRENVEK" />
			<xs:enumeration value="REALTKRZ" />
			<xs:enumeration value="REIVKRZ" />
			<xs:enumeration value="REWITKRZ" />
			<xs:enumeration value="MITNAME" />
			<xs:enumeration value="WSHANDEL1" />
			<xs:enumeration value="WSHANDEL2" />
			<xs:enumeration value="ALTRENORD" />
			<xs:enumeration value="EndkapitalNach" />
			<xs:enumeration value="EndkapitalVor" />
			<xs:enumeration value="UmwandlungssatzNach" />
			<xs:enumeration value="UmwandlungssatzVor" />
			<xs:enumeration value="AltersrenteNach" />
			<xs:enumeration value="AltersrenteVor" />
			<xs:enumeration value="AltersrenteNachProz" />
			<xs:enumeration value="AltersrenteVorProz" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="SimValue">
		<xs:union memberTypes="xs:decimal xs:dateTime" />
	</xs:simpleType>

	<xs:simpleType name="RowValue">
		<xs:union memberTypes="xs:string xs:decimal xs:dateTime" />
	</xs:simpleType>
	
	<xs:complexType name="OBType">
		<xs:complexContent>
			<xs:extension base="pko:WFMessageType">
				<xs:sequence>					
					<xs:element name="Vers" maxOccurs="unbounded" minOccurs="0">
			          <xs:complexType>
			            <xs:sequence>
			              <xs:element type="pko:RowValue" name="Name"/>
			              <xs:element type="pko:RowValue" name="Vname"/>
			              <xs:element type="pko:RowValue" name="Sexcd"/>
			              <xs:element type="pko:RowValue" name="Sprcd"/>
			              <xs:element type="pko:RowValue" name="Gebdat"/>
			              <xs:element type="pko:RowValue" name="Toddat"/>
			              <xs:element type="pko:RowValue" name="Ahvnr"/>
			              <xs:element type="pko:RowValue" name="Sovnr"/>
			              <xs:element type="pko:RowValue" name="Penum2"/>
			              <xs:element type="pko:RowValue" name="Zivcd"/>
			              <xs:element type="pko:RowValue" name="Qstpfl"/>
			              <xs:element type="pko:RowValue" name="Niederlb"/>
			              <xs:element type="pko:RowValue" name="Mitnum"/>
			              <xs:element type="pko:RowValue" name="Mitbez"/>
			              <xs:element type="pko:RowValue" name="Mitname"/>
			              <xs:element type="pko:RowValue" name="Ankdat"/>
			              <xs:element type="pko:RowValue" name="Einfid"/>
			              <xs:element type="pko:RowValue" name="Einvod"/>
			              <xs:element type="pko:RowValue" name="PARA1"/>
			              <xs:element type="pko:RowValue" name="Ausfid"/>
			              <xs:element type="pko:RowValue" name="Ausvod"/>
			              <xs:element type="pko:RowValue" name="Ausgrund"/>
			              <xs:element type="pko:RowValue" name="Vspendenz"/>
			              <xs:element type="pko:RowValue" name="Vsaktiv"/>
			              <xs:element type="pko:RowValue" name="Anrk"/>           
			              <xs:element type="pko:RowValue" name="Anrl"/>
			              <xs:element type="pko:RowValue" name="Adresse1"/>
			              <xs:element type="pko:RowValue" name="Adresse2"/>
			              <xs:element type="pko:RowValue" name="Adresse3"/>
			              <xs:element type="pko:RowValue" name="Adresse4"/>
			              <xs:element type="pko:RowValue" name="Ort"/>
			              <xs:element type="pko:RowValue" name="Plz"/>
			              <xs:element type="pko:RowValue" name="Plzzus"/>
			              <xs:element type="pko:RowValue" name="Landcd"/>
			              <xs:element type="pko:RowValue" name="Land"/>
			            </xs:sequence>
			          </xs:complexType>
			        </xs:element>	
					<xs:element ref="pko:Fehler" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:complexType name="VAType">
		<xs:complexContent>
			<xs:extension base="pko:WFMessageType">
				<xs:sequence>
					<xs:element name="Applikation" minOccurs="0">
						<xs:complexType>
							<xs:attribute type="xs:decimal" name="Weiter" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="de">
										Weiter-Flag für Abschluss
									</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Simulation" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name" type="pko:SimParam" />
								<xs:element name="Wert" type="pko:SimValue" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Meldung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Nummer" type="xs:integer" use="required" />
							<xs:attribute name="Text" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
					<xs:element ref="pko:Fehler" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EKType">
		<xs:complexContent>
			<xs:extension base="pko:WFMessageType">
				<xs:sequence>
					<xs:element name="Applikation" minOccurs="0">
						<xs:complexType>
							<xs:attribute type="xs:decimal" name="EKS.max" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="de">Maximale
										Einkaufssumme
									</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute type="xs:decimal" name="EKS" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="de">Aktuelle
										Einkaufssumme
									</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>

					<xs:element name="Simulation" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name" type="pko:SimParam" />
								<xs:element name="Wert" type="pko:SimValue" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Meldung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Nummer" type="xs:integer" use="required" />
							<xs:attribute name="Text" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
					<xs:element ref="pko:Fehler" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="REType">
		<xs:complexContent>
			<xs:extension base="pko:WFMessageType">
				<xs:sequence>
					<xs:element name="Simulation" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Name" type="pko:SimParam" />
							<xs:attribute name="Wert" type="pko:SimValue" />
						</xs:complexType>
					</xs:element>
					<xs:element name="Meldung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Nummer" type="xs:integer" use="required" />
							<xs:attribute name="Text" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
					<xs:element ref="pko:Fehler" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DocumentType">
		<xs:complexContent>
			<xs:extension base="pko:WFMessageType">
				<xs:sequence>
					<xs:element name="Dokument" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Das Dokument wird als Elementinhalt in 
								BASE 6 to 4 Kodierung übergeben.
							</xs:documentation>
						</xs:annotation>
						<xs:complexType mixed="true">
							<xs:attribute name="Name" type="xs:string" use="optional" />
							<xs:attribute name="MimeType" type="xs:string" use="optional" />
						</xs:complexType>
					</xs:element>
					<xs:element ref="pko:Fehler" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Fehler">
		<xs:complexType>
			<xs:attribute name="Meldung" type="xs:string" use="required" />
			<xs:attribute name="Details" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<!-- Requests und Responses -->


	<xs:element name="EKSimStartRequest" type="pko:StartMessageType">
		<xs:annotation>
			<xs:documentation>Start einer Einkaufssimulation</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EKSimStartResponse" type="pko:EKType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommen die Berechneten Werte vor
				Einkauf zurück die in Portal STEP 3 angezeigt werden sollen
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EKSimExecuteRequest">
		<xs:annotation>
			<xs:documentation>Übergabe des Einkaufsbetrags</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pko:WFMessageType">
					<xs:attribute type="xs:decimal" name="EKS">
						<xs:annotation>
							<xs:documentation xml:lang="de">Simulativer
								Einkaufsbetrag
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="EKSimExecuteResponse" type="pko:EKType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommen die Berechneten Werte nach
				Einkauf zurück die in Portal STEP 3 angezeigt werden sollen
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EKSimEndRequest" type="pko:WFMessageType">
		<xs:annotation>
			<xs:documentation>Beenden der Einkaufssimulation</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EKSimEndResponse" type="pko:DocumentType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommt ein VA in PDF-Format
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- SIM VA 1 Stepper -->
	<xs:element name="VASimStartRequest" type="pko:StartMessageType">
		<xs:annotation>
			<xs:documentation>Start eines VA</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="VASimStartResponse" type="pko:VAType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommen die Berechneten Werte
				zurück
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="VASimExecuteRequest">
		<xs:annotation>
			<xs:documentation>Übergabe des Flags Weiter, mit 1 wird der WF
				abgeschlossen und das Dokument bezogen
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pko:WFMessageType">
				   <xs:attribute type="xs:decimal" name="EndSimulation"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Immer 1 im Executerequest
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>				
					<xs:attribute type="xs:dateTime" name="ValutaNeu" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Valutadatum /
								Berechnungsdatum
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<!-- <xs:attribute type="xs:decimal" name="Weiter" use="required"> <xs:annotation> 
						<xs:documentation xml:lang="de"></xs:documentation> </xs:annotation> </xs:attribute> -->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="VASimExecuteResponse" type="pko:DocumentType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommt ein VA in PDF-Format
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="VASimEndRequest">
		<xs:annotation>
			<xs:documentation>Beenden der VA Simulation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pko:WFMessageType">
					<xs:attribute type="xs:decimal" name="EndSimulation"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Indikator, dass
								Simulation beendet werden soll, immer 2 im EndRequest!
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>					
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="VASimEndResponse" type="pko:DocumentType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommt ein VA in PDF-Format
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
		<!-- SIM RE 1 Stepper -->
	<xs:element name="RESimStartRequest">
		<xs:annotation>
			<xs:documentation>Eine Rentensimulation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pko:MessageType">
					<xs:attribute type="xs:string" name="Mitnum" use="required" />
					<xs:attribute type="xs:dateTime" name="Geburtsdatum" use="required"/>
					<xs:attribute name="Sparplan" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Standard"/>
								<xs:enumeration value="Plus"/>
								<xs:enumeration value="Minus"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute type="xs:dateTime" name="Stichtag" use="required"/>
					<xs:attribute type="xs:double" name="Jahreslohn" use="required"/>
					<xs:attribute type="xs:double" name="Sparkapital" use="required"/>
					<xs:attribute type="xs:dateTime" name="PensDatVor" use="required"/>
					<xs:attribute type="xs:dateTime" name="PensDatNach" use="required"/>
					<xs:attribute type="xs:double" name="Projektionszinssatz" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="RESimStartResponse" type="pko:REType">
		<xs:annotation>
			<xs:documentation>In dieser Antwort kommen die Berechneten Werte
				zurück
			</xs:documentation>
		</xs:annotation>
	</xs:element>

        <xs:element name="OnBoardingStartRequest" type="StartMessageOBType">
		<xs:annotation>
			<xs:documentation>Start des OnBoarding Prozesses</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="OnBoardingStartResponse" type="pko:OBType">
		<xs:annotation>
			<xs:documentation>Ende und Antwort des OnBoarding Prozesses
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>