src/main/resources/ch/claninfo/pkone/pkOne-Datenaustausch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Schema des Austauschformats von Stammdaten zwischen PVCLAN und dem PKONE-Portal.
			Alle Meldungen enthalten eine Versionsnummer so dass beide Seiten die korrekte Version dieser
			Spezifikation prüfen können. Die Dateien können mit einem beliebigen XSD-Validator auf Korrektheit überprüft werden.
		</xs:documentation>
	</xs:annotation>

	<xs:simpleType name="janein">
		<xs:annotation>
			<xs:documentation>Numerische kodierung für boolsche Wahrheitswerte</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>ja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>nein</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sexcd">
		<xs:annotation>
			<xs:documentation>Geschlecht</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>männlich</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>weiblich</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sprcd">
		<xs:annotation>
			<xs:documentation>Sprache</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>deutsch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>französisch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>italienisch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>englisch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="zivcd">
		<xs:annotation>
			<xs:documentation>Zivilstand</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>ledig</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>verheiratet</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>geschieden</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>verwitwet</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>getrennt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>unklar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>eingetragene Partnerschaft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>aufgelöste Partnerschaft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Tod:aufgelöste Partnerschaft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="vstyp">
		<xs:annotation>
			<xs:documentation>Typ einer Versicherten Person (Aktiver oder Rentner)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VS">
				<xs:annotation>
					<xs:documentation>Aktiver Versicherter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>Rentenbezüger</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ausgrund">
		<xs:annotation>
			<xs:documentation>Grund des Austritts eines Varsicherten</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Stellenwechsel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Pensionierung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Todesfall</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Invalidierung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Übertritt in anderen Mandant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Austritt in unbekannt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="ISO3166CountyCode">
		<xs:annotation>
			<xs:documentation>Alle zulässigne ländercodes nach ISO-3166</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation>AFGHANISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AX">
				<xs:annotation>
					<xs:documentation>ÅLAND ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>ALBANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DZ">
				<xs:annotation>
					<xs:documentation>ALGERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>AMERICAN SAMOA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AD">
				<xs:annotation>
					<xs:documentation>ANDORRA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AO">
				<xs:annotation>
					<xs:documentation>ANGOLA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AI">
				<xs:annotation>
					<xs:documentation>ANGUILLA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AQ">
				<xs:annotation>
					<xs:documentation>ANTARCTICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AG">
				<xs:annotation>
					<xs:documentation>ANTIGUA AND BARBUDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>ARGENTINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AM">
				<xs:annotation>
					<xs:documentation>ARMENIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AW">
				<xs:annotation>
					<xs:documentation>ARUBA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AU">
				<xs:annotation>
					<xs:documentation>AUSTRALIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation>AUSTRIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZ">
				<xs:annotation>
					<xs:documentation>AZERBAIJAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BS">
				<xs:annotation>
					<xs:documentation>BAHAMAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BH">
				<xs:annotation>
					<xs:documentation>BAHRAIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BD">
				<xs:annotation>
					<xs:documentation>BANGLADESH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BB">
				<xs:annotation>
					<xs:documentation>BARBADOS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BY">
				<xs:annotation>
					<xs:documentation>BELARUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation>BELGIUM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BZ">
				<xs:annotation>
					<xs:documentation>BELIZE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BJ">
				<xs:annotation>
					<xs:documentation>BENIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BM">
				<xs:annotation>
					<xs:documentation>BERMUDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BT">
				<xs:annotation>
					<xs:documentation>BHUTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BO">
				<xs:annotation>
					<xs:documentation>BOLIVIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BA">
				<xs:annotation>
					<xs:documentation>BOSNIA AND HERZEGOVINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BW">
				<xs:annotation>
					<xs:documentation>BOTSWANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BV">
				<xs:annotation>
					<xs:documentation>BOUVET ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BR">
				<xs:annotation>
					<xs:documentation>BRAZIL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IO">
				<xs:annotation>
					<xs:documentation>BRITISH INDIAN OCEAN TERRITORY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BN">
				<xs:annotation>
					<xs:documentation>BRUNEI DARUSSALAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BG">
				<xs:annotation>
					<xs:documentation>BULGARIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BF">
				<xs:annotation>
					<xs:documentation>BURKINA FASO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BI">
				<xs:annotation>
					<xs:documentation>BURUNDI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KH">
				<xs:annotation>
					<xs:documentation>CAMBODIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>CAMEROON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>CANADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CV">
				<xs:annotation>
					<xs:documentation>CAPE VERDE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KY">
				<xs:annotation>
					<xs:documentation>CAYMAN ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CF">
				<xs:annotation>
					<xs:documentation>CENTRAL AFRICAN REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TD">
				<xs:annotation>
					<xs:documentation>CHAD</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CL">
				<xs:annotation>
					<xs:documentation>CHILE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CN">
				<xs:annotation>
					<xs:documentation>CHINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CX">
				<xs:annotation>
					<xs:documentation>CHRISTMAS ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CC">
				<xs:annotation>
					<xs:documentation>COCOS (KEELING) ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation>COLOMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KM">
				<xs:annotation>
					<xs:documentation>COMOROS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CG">
				<xs:annotation>
					<xs:documentation>CONGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation>CONGO, THE DEMOCRATIC REPUBLIC OF THE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CK">
				<xs:annotation>
					<xs:documentation>COOK ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CR">
				<xs:annotation>
					<xs:documentation>COSTA RICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CI">
				<xs:annotation>
					<xs:documentation>COTE D'IVOIRE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HR">
				<xs:annotation>
					<xs:documentation>CROATIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CU">
				<xs:annotation>
					<xs:documentation>CUBA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CY">
				<xs:annotation>
					<xs:documentation>CYPRUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CZ">
				<xs:annotation>
					<xs:documentation>CZECH REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DK">
				<xs:annotation>
					<xs:documentation>DENMARK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DJ">
				<xs:annotation>
					<xs:documentation>DJIBOUTI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DM">
				<xs:annotation>
					<xs:documentation>DOMINICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DO">
				<xs:annotation>
					<xs:documentation>DOMINICAN REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EC">
				<xs:annotation>
					<xs:documentation>ECUADOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EG">
				<xs:annotation>
					<xs:documentation>EGYPT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SV">
				<xs:annotation>
					<xs:documentation>EL SALVADOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GQ">
				<xs:annotation>
					<xs:documentation>EQUATORIAL GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ER">
				<xs:annotation>
					<xs:documentation>ERITREA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EE">
				<xs:annotation>
					<xs:documentation>ESTONIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ET">
				<xs:annotation>
					<xs:documentation>ETHIOPIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FK">
				<xs:annotation>
					<xs:documentation>FALKLAND ISLANDS (MALVINAS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FO">
				<xs:annotation>
					<xs:documentation>FAROE ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FJ">
				<xs:annotation>
					<xs:documentation>FIJI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FI">
				<xs:annotation>
					<xs:documentation>FINLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FR">
				<xs:annotation>
					<xs:documentation>FRANCE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GF">
				<xs:annotation>
					<xs:documentation>FRENCH GUIANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PF">
				<xs:annotation>
					<xs:documentation>FRENCH POLYNESIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TF">
				<xs:annotation>
					<xs:documentation>FRENCH SOUTHERN TERRITORIES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation>GABON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GM">
				<xs:annotation>
					<xs:documentation>GAMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GE">
				<xs:annotation>
					<xs:documentation>GEORGIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>GERMANY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GH">
				<xs:annotation>
					<xs:documentation>GHANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GI">
				<xs:annotation>
					<xs:documentation>GIBRALTAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GR">
				<xs:annotation>
					<xs:documentation>GREECE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GL">
				<xs:annotation>
					<xs:documentation>GREENLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GD">
				<xs:annotation>
					<xs:documentation>GRENADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GP">
				<xs:annotation>
					<xs:documentation>GUADELOUPE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GU">
				<xs:annotation>
					<xs:documentation>GUAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GT">
				<xs:annotation>
					<xs:documentation>GUATEMALA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GG">
				<xs:annotation>
					<xs:documentation>GUERNSEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GN">
				<xs:annotation>
					<xs:documentation>GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GW">
				<xs:annotation>
					<xs:documentation>GUINEA-BISSAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GY">
				<xs:annotation>
					<xs:documentation>GUYANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HT">
				<xs:annotation>
					<xs:documentation>HAITI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HM">
				<xs:annotation>
					<xs:documentation>HEARD ISLAND AND MCDONALD ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>HOLY SEE (VATICAN CITY STATE)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HN">
				<xs:annotation>
					<xs:documentation>HONDURAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HK">
				<xs:annotation>
					<xs:documentation>HONG KONG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HU">
				<xs:annotation>
					<xs:documentation>HUNGARY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IS">
				<xs:annotation>
					<xs:documentation>ICELAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>INDIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>INDONESIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IR">
				<xs:annotation>
					<xs:documentation>IRAN, ISLAMIC REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IQ">
				<xs:annotation>
					<xs:documentation>IRAQ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IE">
				<xs:annotation>
					<xs:documentation>IRELAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IM">
				<xs:annotation>
					<xs:documentation>ISLE OF MAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>ISRAEL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IT">
				<xs:annotation>
					<xs:documentation>ITALY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JM">
				<xs:annotation>
					<xs:documentation>JAMAICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JP">
				<xs:annotation>
					<xs:documentation>JAPAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JE">
				<xs:annotation>
					<xs:documentation>JERSEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JO">
				<xs:annotation>
					<xs:documentation>JORDAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KZ">
				<xs:annotation>
					<xs:documentation>KAZAKHSTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KE">
				<xs:annotation>
					<xs:documentation>KENYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KI">
				<xs:annotation>
					<xs:documentation>KIRIBATI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KP">
				<xs:annotation>
					<xs:documentation>KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KR">
				<xs:annotation>
					<xs:documentation>KOREA, REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KW">
				<xs:annotation>
					<xs:documentation>KUWAIT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KG">
				<xs:annotation>
					<xs:documentation>KYRGYZSTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LA">
				<xs:annotation>
					<xs:documentation>LAO PEOPLE'S DEMOCRATIC REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LV">
				<xs:annotation>
					<xs:documentation>LATVIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LB">
				<xs:annotation>
					<xs:documentation>LEBANON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LS">
				<xs:annotation>
					<xs:documentation>LESOTHO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LR">
				<xs:annotation>
					<xs:documentation>LIBERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LY">
				<xs:annotation>
					<xs:documentation>LIBYAN ARAB JAMAHIRIYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LI">
				<xs:annotation>
					<xs:documentation>LIECHTENSTEIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LT">
				<xs:annotation>
					<xs:documentation>LITHUANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LU">
				<xs:annotation>
					<xs:documentation>LUXEMBOURG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation>MACAO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MK">
				<xs:annotation>
					<xs:documentation>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MG">
				<xs:annotation>
					<xs:documentation>MADAGASCAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MW">
				<xs:annotation>
					<xs:documentation>MALAWI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MY">
				<xs:annotation>
					<xs:documentation>MALAYSIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MV">
				<xs:annotation>
					<xs:documentation>MALDIVES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ML">
				<xs:annotation>
					<xs:documentation>MALI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>MALTA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MH">
				<xs:annotation>
					<xs:documentation>MARSHALL ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MQ">
				<xs:annotation>
					<xs:documentation>MARTINIQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MR">
				<xs:annotation>
					<xs:documentation>MAURITANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MU">
				<xs:annotation>
					<xs:documentation>MAURITIUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YT">
				<xs:annotation>
					<xs:documentation>MAYOTTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MX">
				<xs:annotation>
					<xs:documentation>MEXICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FM">
				<xs:annotation>
					<xs:documentation>MICRONESIA, FEDERATED STATES OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MD">
				<xs:annotation>
					<xs:documentation>MOLDOVA, REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MC">
				<xs:annotation>
					<xs:documentation>MONACO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MN">
				<xs:annotation>
					<xs:documentation>MONGOLIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MS">
				<xs:annotation>
					<xs:documentation>MONTSERRAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MA">
				<xs:annotation>
					<xs:documentation>MOROCCO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MZ">
				<xs:annotation>
					<xs:documentation>MOZAMBIQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MM">
				<xs:annotation>
					<xs:documentation>MYANMAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NA">
				<xs:annotation>
					<xs:documentation>NAMIBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NR">
				<xs:annotation>
					<xs:documentation>NAURU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NP">
				<xs:annotation>
					<xs:documentation>NEPAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NL">
				<xs:annotation>
					<xs:documentation>NETHERLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AN">
				<xs:annotation>
					<xs:documentation>NETHERLANDS ANTILLES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation>NEW CALEDONIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NZ">
				<xs:annotation>
					<xs:documentation>NEW ZEALAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NI">
				<xs:annotation>
					<xs:documentation>NICARAGUA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>NIGER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NG">
				<xs:annotation>
					<xs:documentation>NIGERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NU">
				<xs:annotation>
					<xs:documentation>NIUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NF">
				<xs:annotation>
					<xs:documentation>NORFOLK ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MP">
				<xs:annotation>
					<xs:documentation>NORTHERN MARIANA ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO">
				<xs:annotation>
					<xs:documentation>NORWAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OM">
				<xs:annotation>
					<xs:documentation>OMAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PK">
				<xs:annotation>
					<xs:documentation>PAKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PW">
				<xs:annotation>
					<xs:documentation>PALAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PS">
				<xs:annotation>
					<xs:documentation>PALESTINIAN TERRITORY, OCCUPIED</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>PANAMA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PG">
				<xs:annotation>
					<xs:documentation>PAPUA NEW GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PY">
				<xs:annotation>
					<xs:documentation>PARAGUAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PE">
				<xs:annotation>
					<xs:documentation>PERU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PH">
				<xs:annotation>
					<xs:documentation>PHILIPPINES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PN">
				<xs:annotation>
					<xs:documentation>PITCAIRN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PL">
				<xs:annotation>
					<xs:documentation>POLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PT">
				<xs:annotation>
					<xs:documentation>PORTUGAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation>PUERTO RICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QA">
				<xs:annotation>
					<xs:documentation>QATAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>REUNION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RO">
				<xs:annotation>
					<xs:documentation>ROMANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RU">
				<xs:annotation>
					<xs:documentation>RUSSIAN FEDERATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RW">
				<xs:annotation>
					<xs:documentation>RWANDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SH">
				<xs:annotation>
					<xs:documentation>SAINT HELENA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KN">
				<xs:annotation>
					<xs:documentation>SAINT KITTS AND NEVIS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LC">
				<xs:annotation>
					<xs:documentation>SAINT LUCIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PM">
				<xs:annotation>
					<xs:documentation>SAINT PIERRE AND MIQUELON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VC">
				<xs:annotation>
					<xs:documentation>SAINT VINCENT AND THE GRENADINES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WS">
				<xs:annotation>
					<xs:documentation>SAMOA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SM">
				<xs:annotation>
					<xs:documentation>SAN MARINO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation>SAO TOME AND PRINCIPE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SA">
				<xs:annotation>
					<xs:documentation>SAUDI ARABIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SN">
				<xs:annotation>
					<xs:documentation>SENEGAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CS">
				<xs:annotation>
					<xs:documentation>SERBIA AND MONTENEGRO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>SEYCHELLES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SL">
				<xs:annotation>
					<xs:documentation>SIERRA LEONE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SG">
				<xs:annotation>
					<xs:documentation>SINGAPORE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SK">
				<xs:annotation>
					<xs:documentation>SLOVAKIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SI">
				<xs:annotation>
					<xs:documentation>SLOVENIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SB">
				<xs:annotation>
					<xs:documentation>SOLOMON ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SO">
				<xs:annotation>
					<xs:documentation>SOMALIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZA">
				<xs:annotation>
					<xs:documentation>SOUTH AFRICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GS">
				<xs:annotation>
					<xs:documentation>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ES">
				<xs:annotation>
					<xs:documentation>SPAIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LK">
				<xs:annotation>
					<xs:documentation>SRI LANKA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>SUDAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SR">
				<xs:annotation>
					<xs:documentation>SURINAME</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SJ">
				<xs:annotation>
					<xs:documentation>SVALBARD AND JAN MAYEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SZ">
				<xs:annotation>
					<xs:documentation>SWAZILAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SE">
				<xs:annotation>
					<xs:documentation>SWEDEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CH">
				<xs:annotation>
					<xs:documentation>SWITZERLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SY">
				<xs:annotation>
					<xs:documentation>SYRIAN ARAB REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TW">
				<xs:annotation>
					<xs:documentation>TAIWAN, PROVINCE OF CHINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TJ">
				<xs:annotation>
					<xs:documentation>TAJIKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TZ">
				<xs:annotation>
					<xs:documentation>TANZANIA, UNITED REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TH">
				<xs:annotation>
					<xs:documentation>THAILAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TL">
				<xs:annotation>
					<xs:documentation>TIMOR-LESTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TG">
				<xs:annotation>
					<xs:documentation>TOGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TK">
				<xs:annotation>
					<xs:documentation>TOKELAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TO">
				<xs:annotation>
					<xs:documentation>TONGA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TT">
				<xs:annotation>
					<xs:documentation>TRINIDAD AND TOBAGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TN">
				<xs:annotation>
					<xs:documentation>TUNISIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TR">
				<xs:annotation>
					<xs:documentation>TURKEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TM">
				<xs:annotation>
					<xs:documentation>TURKMENISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TC">
				<xs:annotation>
					<xs:documentation>TURKS AND CAICOS ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TV">
				<xs:annotation>
					<xs:documentation>TUVALU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UG">
				<xs:annotation>
					<xs:documentation>UGANDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UA">
				<xs:annotation>
					<xs:documentation>UKRAINE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AE">
				<xs:annotation>
					<xs:documentation>UNITED ARAB EMIRATES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GB">
				<xs:annotation>
					<xs:documentation>UNITED KINGDOM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="US">
				<xs:annotation>
					<xs:documentation>UNITED STATES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UM">
				<xs:annotation>
					<xs:documentation>UNITED STATES MINOR OUTLYING ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UY">
				<xs:annotation>
					<xs:documentation>URUGUAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UZ">
				<xs:annotation>
					<xs:documentation>UZBEKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VU">
				<xs:annotation>
					<xs:documentation>VANUATU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VE">
				<xs:annotation>
					<xs:documentation>VENEZUELA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VN">
				<xs:annotation>
					<xs:documentation>VIET NAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VG">
				<xs:annotation>
					<xs:documentation>VIRGIN ISLANDS, BRITISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VI">
				<xs:annotation>
					<xs:documentation>VIRGIN ISLANDS, U.S.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WF">
				<xs:annotation>
					<xs:documentation>WALLIS AND FUTUNA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EH">
				<xs:annotation>
					<xs:documentation>WESTERN SAHARA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YE">
				<xs:annotation>
					<xs:documentation>YEMEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZM">
				<xs:annotation>
					<xs:documentation>ZAMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZW">
				<xs:annotation>
					<xs:documentation>ZIMBABWE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="exportmnfeed">
		<xs:annotation>
			<xs:documentation>Dateiformat zum Austausch der Arbeitgeberdaten</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="export">
					<xs:annotation>
						<xs:documentation>Daten zu einem Mandanten</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="arbeitgebernummer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Mandantennummer Lang</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="name" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse1" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse1</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse2" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse2</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse3">
								<xs:annotation>
									<xs:documentation>Postleitzahl</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="plz" type="xs:string">
								<xs:annotation>
									<xs:documentation>PLZ</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ort" type="xs:string">
								<xs:annotation>
									<xs:documentation>Ortschaft</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="laenderCode" type="ISO3166CountyCode">
								<xs:annotation>
									<xs:documentation>Landcode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="telefon1" type="xs:string">
								<xs:annotation>
									<xs:documentation>Telefon privat</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="telefon2" type="xs:string">
								<xs:annotation>
									<xs:documentation>Handynummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adrnum" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Adressnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sprcd" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Sprachcode</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="company" type="xs:string">
							<xs:annotation>
								<xs:documentation>Firma</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="mandantenNummer" type="xs:string">
							<xs:annotation>
								<xs:documentation>Mandantennummer</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:double" fixed="0.1">
				<xs:annotation>
					<xs:documentation>Versionsnummer der Dateischnittstelle</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="exportvsfeed">
		<xs:annotation>
			<xs:documentation>Dateiformat zum Austausch der Arbeitnehmrdaten</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="export">
					<xs:annotation>
						<xs:documentation>Daten zu einem Versicherten</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vorname" type="xs:string">
								<xs:annotation>
									<xs:documentation>Vorname</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="geburtsdatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Geburtsdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse1" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse 1</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse2" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse 2</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse3" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse 3</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="adresse4" type="xs:string">
								<xs:annotation>
									<xs:documentation>Adresse 4</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="plz" type="xs:string">
								<xs:annotation>
									<xs:documentation>Postleitzahl</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ort" type="xs:string">
								<xs:annotation>
									<xs:documentation>Ortschaft</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="laenderCode" type="ISO3166CountyCode">
								<xs:annotation>
									<xs:documentation>Ländercode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="anrede" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Anredecode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ahvNummer" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Ahvnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sovNummer" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Sozialversicherungsnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="arbeitgeberNummmer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Mandantennummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="eintrittsdatumFirma" type="xs:date">
								<xs:annotation>
									<xs:documentation>Eintritt Firma</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="versicherungsBeginn" type="xs:date">
								<xs:annotation>
									<xs:documentation>Beginn Versicherung</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="pensum" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Pensum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="versicherterLohn" type="xs:double">
								<xs:annotation>
									<xs:documentation>Lohn</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="versicherterLohnDatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Gültig ab des erfassten Lohnes</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="berechneterLohn" type="xs:double">
								<xs:annotation>
									<xs:documentation>Berechneter Lohn</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="maxBerdat" type="xs:date">
								<xs:annotation>
									<xs:documentation>Maximales Datum bis Mutation gemacht werden können</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="zivilStand" type="zivcd">
								<xs:annotation>
									<xs:documentation>Zivilstand</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="heiratsdatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Heiratsdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="scheidungsdatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Scheidungsdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="todesdatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Todesdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="personalNummer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Personalnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="pkNummer2" type="xs:string">
								<xs:annotation>
									<xs:documentation>interne Personalnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="typ" type="vstyp">
								<xs:annotation>
									<xs:documentation>Versichertertype VS oder RE</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="telefonNummer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Telefonnummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="mobilNummer" type="xs:string">
								<xs:annotation>
									<xs:documentation>Handynummer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="email" type="xs:string">
								<xs:annotation>
									<xs:documentation>Email</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sprachCode" type="sprcd">
								<xs:annotation>
									<xs:documentation>Sprachcode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="geschlechtsCode" type="sexcd">
								<xs:annotation>
									<xs:documentation>Geschlechtscode (1=Männlich 2=Weiblich)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="austrittsdatum" type="xs:date">
								<xs:annotation>
									<xs:documentation>Austrittsdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="austrittsgrund" type="ausgrund">
								<xs:annotation>
									<xs:documentation>Austrittsgrund</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="qstPflicht" type="janein">
								<xs:annotation>
									<xs:documentation>QstPflicht</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd201" type="xs:string">
								<xs:annotation>
									<xs:documentation>Merbklatt Einkauf </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd202" type="xs:string">
								<xs:annotation>
									<xs:documentation>Unterlagen weiterhin in Papierform</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd203" type="xs:string">
								<xs:annotation>
									<xs:documentation>Portal MyPk registriert  </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd724" type="xs:string">
								<xs:annotation>
									<xs:documentation>Unterlagen erhalten für Austrittsdatum</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd710" type="xs:string">
								<xs:annotation>
									<xs:documentation>KommunikationsEmail</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bemcd711" type="xs:string">
								<xs:annotation>
									<xs:documentation>Pincode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrRIKOAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Beitrag Risikoversicherung AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSPAAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sparbeitrag AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrFRSPA" type="xs:double">
								<xs:annotation>
									<xs:documentation>Freiwilliger Sparbeitrag</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSPUAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sparbeitrag unb. Urlaub AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrRAEK" type="xs:double">
								<xs:annotation>
									<xs:documentation>Rate für Einkauf</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrRIUAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Risikobeitrag unb. Urlaub AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSAUAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sanierungsbeitrag unb. Urlaub AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSAAN" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sanierungsbeitrag AN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrRIAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Beitrag Risikoversicherung AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrRIBAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Risikobeitrag AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSPAAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sparbeitrag AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSIFVKAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Beitrag Sifonds und VK AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrUEAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Beitrag ÜP AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="beitrSAAG" type="xs:double">
								<xs:annotation>
									<xs:documentation>Sanierungsbeitrag AG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="maxLohnAkt" type="xs:double">
								<xs:annotation>
									<xs:documentation>maximaler erfassbarer Lohn aktuelles Jahr</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="maxLohnNeu" type="xs:double">
								<xs:annotation>
									<xs:documentation>maximaler erfassbarer Lohn kommendes Jahr</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="partner">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>Name</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="vorname" type="xs:string">
											<xs:annotation>
												<xs:documentation>Vorname</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="geburtsdatum" type="xs:string">
											<xs:annotation>
												<xs:documentation>Geburtsdatum</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sovNummer" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Sozialversicherungsnummer</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="geschlechtsCode" type="sexcd">
											<xs:annotation>
												<xs:documentation>Geschlechtscode (1=Männlich 2=Weiblich)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="kinder" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>Name</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="vorname" type="xs:string">
											<xs:annotation>
												<xs:documentation>Vorname</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="geburtsdatum" type="xs:string">
											<xs:annotation>
												<xs:documentation>Geburtsdatum</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sovNummer" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Sozialversicherungsnummer</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="geschlechtsCode" type="sexcd">
											<xs:annotation>
												<xs:documentation>Geschlechtscode (1=Männlich 2=Weiblich)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="company" type="xs:string">
							<xs:annotation>
								<xs:documentation>Firma</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="mandantenNummer" type="xs:string">
							<xs:annotation>
								<xs:documentation>Arbeitgebernummer</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="pkNummer" type="xs:integer">
							<xs:annotation>
								<xs:documentation>Personalnummer des Arbeitgebers</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:double" fixed="0.1">
				<xs:annotation>
					<xs:documentation>Versionsnummer der Dateischnittstelle</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>